<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daftar Akun</title>
  </head>
  <body>
    <header>
      <h1>Selamat datang</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
      <!-- -->
    {% block content %}

    {% endblock %}
</body>
</html>
