{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
  <p>alamat: {{ user.profile.alamat }}</p>
  <p>konfirmasi email status: {{ user.profile.konfirmasi_email }}</p>
{% endblock %}
