{% extends 'base.html' %}
{% block content %}
  <form method="post"> {% csrf_token %}
    {% if form.errors %}
      <p style="color: red">Sorry, username atau password masih salah</p>
    {% endif %}
    <input type="text" name="username" value="" placeholder="Username"><br>
    <input type="password" name="password" value="" placeholder="Password"><br>
    <button type="submit" name="button">Login</button>
  </form>
{% endblock %}
