{% extends 'base.html' %}
{% block content%}
    <form method="post"> {% csrf_token %}
      <input type="text" name="first_name" value="" placeholder="First Name"><br>
      <input type="text" name="last_name" value="" placeholder="Last Name"><br>
      <input type="text" name="username" value="" placeholder="Username"><br>
      <input type="email" name="email" value="" placeholder="Email"><br>
      <input type="password" name="password1" value="" placeholder="Password"><br>
      <input type="password" name="password2" value="" placeholder="Retype Password"><br>
      <textarea name="alamat" rows="8" cols="80" placeholder="Alamat"></textarea><br>
      <button type="submit" name="button" value="Kirim">Simpan</button>
    </form>
{% endblock %}
